/* .......admin-Users--Table.............. */

.edit {
  color: green;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}
.delete {
  color: red;
  border: none;
  margin-left: 5px;
}


/* ..........admin-contact................... */
.admincon-heding {
  margin-left: 220px;
  border-radius: 12px;
  text-align: center;
}

.con-message {
  width: 400px;
  text-align: left;  
}